.home {
  position: absolute;
  height: 91%;
  width: 95%;
  overflow: auto;
  margin: 0 2.5%;
  background-color: white;

  .home-border {
    background-image: url('http://i.imgur.com/e4lFPdh.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 .75%;
    width: 98.5%;
    height: 100%;

    .home-content {
      position: absolute;;
      margin: 20%;
      width: 60%;
      text-align: center;
      color: white;

      h1 {
        margin: 0;
      }
    }

    .home-arrow-down {
      position: absolute;
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid rgba(0, 0, 0, 0.5);
      bottom: 2%;
      left: 48%;

      &:hover {
        border-top: 20px solid rgba(255, 255, 255, 0.4);
        cursor: pointer;
      }
    }
  }

  .home-about-me {
    position: absolute;
    margin: .75% .75% .75% .75%;
    width: 98.5%;
    height: 98.5%;
    background-color: grey;

    .home-arrow-up {
      position: absolute;
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-bottom: 20px solid rgba(0, 0, 0, 0.5);
      top: 2%;
      left: 48%;

      &:hover {
        border-bottom: 20px solid rgba(255, 255, 255, 0.4);
        cursor: pointer;
      }
    }
  }
}
