// * {
//   -webkit-box-sizing: border-box;
//      -moz-box-sizing: border-box;
//           box-sizing: border-box;
// }

.main {
  height: 100%;
  width: 100%;

  .main-grey {
    height: 100%;
    background-color:#E9EAEE;
  }

  .main-white {
    height: 100%;
    background-color: white;
  }
  // position: absolute;
  // padding: 4.5% 2.5% 0% 2.5%;
  // overflow: auto;
  // height: 100%;
  // width: 100%;
}
