// .nav {
//   // position: relative;
//   height: 5%;

  .nav-bar {
    // position: fixed;
    width: 86%;
    background-color: white;
    border-radius: 0;
    border: none;
    margin: 0 auto;
    padding: 0;

    .about-links {
      font-size: 24px;
    }

    li {
      font-size: 16px;

      a {
        color: #8A9299;
        // color: #388E8E;

      }
    }
  }
// }
