.nav {
  position: relative;

  .nav-bar {
    position: fixed;
    width: 94%;
    background-color: white;
    border-radius: 0;
    border: none;
    margin: 0% 2.5%;

    .about-links {
      font-size: 24px;
    }

    li {
      font-size: 16px;

      a {
        color: #8A9299;
        // color: #388E8E;

      }
    }
  }
}
